header {
	font-family: 'Roboto', sans-serif;
	padding-top: 30px;
}

header h1{
	font-size: 48px;
}

header span{
	padding-top: 40px;
	margin: 3px;
	font-size: 20px;
}

span {
	padding: 10px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: grey;
	text-decoration: none;
}

.jumbotron {
	background-color: white;
	text-align: right;
	padding: 200px;
}

.text-box {
	background-color: rgba(0,0,0,0.5);
	width: 50%;
	float: right;
}