.header {
	font-family: 'Lucida Console', sans-serif;
	font-size: 3em;
}

.header-info{
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
}

a {
	text-decoration: none;
	color: silver;
}

a:hover {
	color: white;
	text-decoration: none;
}

body{
	margin-top: 6em;
	text-align: center;
	color: white;
	background-color: #2F4F4F;
}

.jumbotron{
	background-color: rgba(255, 255, 255, 0.3);
	border-color: white;
	border-style: solid;
	border-width: 1px;
}	

.row-margin {
	margin-top: 2.5em;
}

.first {
	color: cyan;
}

.second {
	color: cyan;
}

.navi{
	color: black;
	position: relative;
	top:-2.5em;
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}