header {
	font-family: 'Roboto', sans-serif;
	padding-top: 30px;
}

header h1{
	font-size: 48px;
}

header span{
	padding-top: 40px;
	margin: 3px;
	font-size: 20px;
}

span {
	padding: 10px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: grey;
	text-decoration: none;
}

.jumbotron {
	background-image: url(bg_img.jpg);
	background-repeat: no-repeat; 
	background-color: white;
	background-position: 100%;
	background-size: contain;
	text-align: right;
	padding-top: 200px;
	padding-bottom: 200px;
	width: 150%;
}

.text-box {
	background-color: rgba(0,0,0,0.65);
	width: 50%;
	padding: 1px;
	text-align: center;
	color: white;
	border: solid;
	border-color: black;
}

button{
	background-color: white;
}